<section id="events" class="event">
  <div class="container">
    <h2 class="event-title">Explore Our Upcoming Workshop Schedule</h2>
    <p class="event-dis">
      Join us for immersive plein air drawing workshops. Experience nature while
      honing your artistic skills.
    </p>
    <ul class="event-list">
      <li class="event-item">
        <img
          class="event-img"
          src="../images/event/mimage-1.png"
        ></svg>
        <p class="event-loc">  <a href="https://www.google.com/maps"><svg class="event-icon" width="24" height="24"><use href="../images/icons.svg#map"></use></svg></a> Central Park Meadow</p>
        <p class="event-time">09 Jun 8:00 am</p>
        <p class="event-act">Morning Light Sketching</p>
        <a class="event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img class="event-img" src="../images/event/mimage-2.png"></svg>
        <p class="event-loc">  <a href="https://www.google.com/maps"><svg class="event-icon" width="24" height="24"><use href="../images/icons.svg#map"></use></svg></a> Riverside Botanical Trail</p>
        <p class="event-time">10 Jun 5:00 pm</p>
           <p class="event-act">Floral Focus: Painting Wildflowers</p>
        <a class="event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img class="event-img" src="../images/event/mimage-3.png"></svg>
        <p class="event-loc">  <a href="https://www.google.com/maps"><svg class="event-icon" width="24" height="24"><use href="../images/icons.svg#map"></use></svg></a> Forest Edge Retreat</p>
        <p class="event-time">11 Jun 7:00 pm</p>
        <p class="event-act">Color & Composition Basics</p>
        <a class="event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img class="event-img" src="../images/event/mimage-4.png"></svg>
        <p class="event-loc">  <a href="https://www.google.com/maps"><svg class="event-icon" width="24" height="24"><use href="../images/icons.svg#map"></use></svg></a> Willow Grove Field</p>
        <p class="event-time">14 Jun 8:00 pm</p>
        <p class="event-act">Drawing Stillness: Meditative Sketching</p>
        <a class="event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img class="event-img" src="../images/event/mimage-5.png"></svg>
        <p class="event-loc"> <a href="https://www.google.com/maps"><svg class="event-icon" width="24" height="24"><use href="../images/icons.svg#map"></use></svg></a> Sunset Ridge Hilltop</p>
        <p class="event-time">15 Jun 8:00 pm</p>
        <p class="event-act">Golden Hour Landscape Study</p>
        <a class="event-btn" href="#register">Register</a>
      </li>
    </ul>
  </div>
</section>
