<selection id="header" class="header">
  <div class="container">
    <a href="../index.html" class="header-logo">
      <svg class="header-logo-icon" width="117" hieght="50">
        <use href="../images/icons.svg#CompanyLogoheader"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#benefits">Benefits</a></li>
        <li class="header-nav-item"><a href="#gallery">Gallery</a></li>
        <li class="header-nav-item"><a href="#events">Events</a></li>
        <li class="header-nav-item"><a href="#team">Team</a></li>
        <li class="header-nav-item"><a href="#feedbacks">Feedbacks</a></li>
      </ul>
    </nav>
    <a class="header-register" href="#register">Register</a>
    <button class="header-mobi">
      <svg class="header-menu" width="24" height="24">
        <use href="../images/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</selection>
