<section class="benefits" id="benefits">
  <div class="benefits-conteiner">
    <div class="benefits-content">
      <h2 class="benefits-title">
        Reconnect with yourself through the art of outdoor drawing
      </h2>
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#spa"></use>
          </svg>
          <div class="benefits-cnt">
            <h3 class="benefits-subt">Relieves stress and anxiety</h3>
            <p class="benefits-text">
              Drawing in nature helps you unwind, clear your mind, and escape
              daily worries in a peaceful setting.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#sun"></use>
          </svg>
          <div class="benefits-cnt">
            <h3 class="benefits-subt">Sparks creativity</h3>
            <p class="benefits-text">
              Whether you&apos;re a beginner or experienced, plein air drawing
              encourages creative thinking and helps you see beauty in the
              details.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="48" height="48">
            <use href="../images/icons.svg#leaf"></use>
          </svg>
          <div class="benefits-cnt">
            <h3 class="benefits-subt">Quality time in nature</h3>
            <p class="benefits-text">
              Plein air sessions combine fresh air, gentle movement, and mindful
              observation &#8208; a perfect blend of rest and inspiration.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <img
      src="/images/benefits/Joomsept14.jpg"
      srcset="
        /images/benefits/Joomsept14.jpg 1x,
        /images/benefits/Joomsept14@2x.jpg 2x
      "
      alt="hippo clipart"
      class="benefits-img"
    />
  </div>
</section>
