<div class="mobile-menu is-open" id="mobile-menu">
  <div class="mobile-menu-conteiner">
    <div class="logo">
      <svg class="logo-icon" width="117px" height="50px">
        <use href="../images/icons.svg#CompanyLogoheader"></use>
      </svg>
    </div>
    <div class="mobile-menu-actions">
      <a href="#register" class="menu-btn btn-primary">Register</a>
      <svg class="icon" width="24px" height="24px">
        <use href="../images/icons.svg#x"></use>
      </svg>
    </div>
  </div>
  <div class="mobile-menu-row">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Benefits</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Team</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Feedbacks</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
