<div class="mobile-menu">
  <div class="mobile-menu-conteiner">
    <div class="logo">
      <svg class="logo-icon">
        <use href=""></use>
    </svg>
    </div>
    <div class="mobile-menu-actions">
      <button>Register</button>
      <svg class="">
        <use href=""></use>
    </svg>
    </div>
  </div>
  <div class="mobile-menu-row">
    <nav class="nav">
    <ul class="nav-list">
        <li class="nav-item">Benefits</li>
        <li class="nav-item">Gallery</li>
        <li class="nav-item">Events</li>
        <li class="nav-item">Team</li>
        <li class="nav-item">Feedbacks</li>
    </ul>
    </nav>
  </div>
</div>
